/*
 * Assignment 02
 * CSS FILE
 */

 header {
  background-color: #49111c;
  color: #f2f4f3;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerTitle {
 font-size: 2rem;
}
nav {
  display: flex;
  font-size: 25px;
}
.logo {
  max-height: 5rem; 
  margin: 0 auto; 
}
nav a {
  color: #f2f4f3;
  text-decoration: none;
  margin-right: 20px;
}

body {
  background-color: #f2f4f3;
}

.hero {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: #0a0908;
}
.heroImageContainer {
  position: relative; 
}

.heroBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
button {
  color: #f2f4f3;
  background-color: #0a0908;
  padding: 60px 80px; 
  font-size: 64px;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  color: #f2f4f3;
  background-color: #49111c;
}

footer {
  background-color: #49111c;
  color: #f2f4f3;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  list-style: none;
}
.newReleases {
  font-size: 2rem;
  text-align: center;
  color: #0a0908;
}
.newReleasesImagesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #49111c;
}
.newReleaseImages {
  max-height: 500px;
}
.exculsiveReleases {
  font-size: 3rem;
 text-align: center;
 color: #0a0908;
}
.exculsiveReleasesContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #49111c;
}
.exclusiveReleaseImages {
  max-height: 500px;
}
.aboutUs {
  font-size: 3rem;
  text-align: center;
  color: #0a0908;
}
.aboutUsContainer {
  font-size: 2rem;
  color: #f2f4f3;
  background-color: #49111c;
  display: flex;
}
.aboutUsImage {
  max-height: 600px;
}
.newsletter {
  font-size: 2rem;
  text-align: center;
  color: #0a0908;
}
.newsletterContainer {
  font-size: 2rem;
  color: #f2f4f3;
  background-color: #0a0908;
  padding-bottom: 15px;
}
/* 
 display: flex;
  justify-content: center;
  align-items: center;
*/